$icomoon-font-family: "eventa-icons" !default;
$icomoon-font-path: "fonts" !default;

$evicon-waiting-approval: unquote('"\\eb60"');
$evicon-chatbot: unquote('"\\eb5f"');
$evicon-tune-2: unquote('"\\eb5e"');
$evicon-dollar: unquote('"\\eb59"');
$evicon-groups: unquote('"\\eb5a"');
$evicon-night-shelter: unquote('"\\eb5b"');
$evicon-oil-barrel: unquote('"\\eb5c"');
$evicon-work: unquote('"\\eb5d"');
$evicon-right-panel-close: unquote('"\\eb57"');
$evicon-right-panel-open: unquote('"\\eb58"');
$evicon-outline-questionnaire-2: unquote('"\\eb54"');
$evicon-questionnaire-2-cross: unquote('"\\eb55"');
$evicon-questionnaire-2: unquote('"\\eb56"');
$evicon-folder-check: unquote('"\\eb53"');
$evicon-new-tab: unquote('"\\eb52"');
$evicon-history-reversed: unquote('"\\eb51"');
$evicon-Vote-Results: unquote('"\\eb50"');
$evicon-Archive: unquote('"\\eb47"');
$evicon-CC: unquote('"\\eb48"');
$evicon-Print-attachment: unquote('"\\eb49"');
$evicon-Print-Card: unquote('"\\eb4a"');
$evicon-Print-Qr: unquote('"\\eb4b"');
$evicon-Recall: unquote('"\\eb4c"');
$evicon-Screenshot: unquote('"\\eb4d"');
$evicon-Send-attachment: unquote('"\\eb4e"');
$evicon-Send-correspondences: unquote('"\\eb4f"');
$evicon-Square: unquote('"\\eb46"');
$evicon-calendar-check: unquote('"\\eb44"');
$evicon-calendar-cross: unquote('"\\eb45"');
$evicon-card-check: unquote('"\\eb43"');
$evicon-sort-magic-up: unquote('"\\eb42"');
$evicon-megaphone-stripped: unquote('"\\eb41"');
$evicon-swipe-pages: unquote('"\\eb40"');
$evicon-logout: unquote('"\\eb3f"');
$evicon-user-bold: unquote('"\\eb01"');
$evicon-user-outline: unquote('"\\eb02"');
$evicon-activity-bold: unquote('"\\eb03"');
$evicon-activity-outline: unquote('"\\eb04"');
$evicon-add-square-outline: unquote('"\\eb05"');
$evicon-book-square-bold: unquote('"\\eb06"');
$evicon-book-square-outline: unquote('"\\eb07"');
$evicon-briefcase-bold: unquote('"\\eb08"');
$evicon-briefcase-outline: unquote('"\\eb09"');
$evicon-brush-outline: unquote('"\\eb0a"');
$evicon-brush-square-outline: unquote('"\\eb0b"');
$evicon-calendar-2-oultine: unquote('"\\eb0c"');
$evicon-calendar-bold: unquote('"\\eb0d"');
$evicon-calendar-outline: unquote('"\\eb0e"');
$evicon-chart-bold: unquote('"\\eb0f"');
$evicon-chart-outline: unquote('"\\eb10"');
$evicon-clock-oultline: unquote('"\\eb11"');
$evicon-cross1: unquote('"\\eb12"');
$evicon-delete-outline: unquote('"\\eb13"');
$evicon-direct-bold: unquote('"\\eb14"');
$evicon-document-text-outline: unquote('"\\eb15"');
$evicon-edit-outline: unquote('"\\eb16"');
$evicon-edit-square-bold: unquote('"\\eb17"');
$evicon-element-4-bold: unquote('"\\eb18"');
$evicon-element-4-outline: unquote('"\\eb19"');
$evicon-eraser-outline: unquote('"\\eb1a"');
$evicon-eye-bold: unquote('"\\eb1b"');
$evicon-filter-outline: unquote('"\\eb1c"');
$evicon-gallery-add-outline: unquote('"\\eb1d"');
$evicon-heart-bold: unquote('"\\eb1e"');
$evicon-heart-outline: unquote('"\\eb1f"');
$evicon-info-circle-outline: unquote('"\\eb20"');
$evicon-location-outline: unquote('"\\eb21"');
$evicon-lock-outline: unquote('"\\eb22"');
$evicon-mapp-chevron-down: unquote('"\\eb23"');
$evicon-mapp-chevron-left: unquote('"\\eb24"');
$evicon-mapp-chevron-right: unquote('"\\eb25"');
$evicon-mapp-chevron-up: unquote('"\\eb26"');
$evicon-maximize-outline: unquote('"\\eb27"');
$evicon-message-add-outline: unquote('"\\eb28"');
$evicon-more-square-outline: unquote('"\\eb29"');
$evicon-notification-outline: unquote('"\\eb2a"');
$evicon-paper-download-outline: unquote('"\\eb2b"');
$evicon-path-outline: unquote('"\\eb2c"');
$evicon-pen-outline: unquote('"\\eb2d"');
$evicon-play-bold: unquote('"\\eb2e"');
$evicon-quote-up-square-outline: unquote('"\\eb2f"');
$evicon-refresh-2-outline: unquote('"\\eb30"');
$evicon-refresh-outline: unquote('"\\eb31"');
$evicon-rotate-right-outline: unquote('"\\eb32"');
$evicon-search-outline: unquote('"\\eb33"');
$evicon-search-status-bold: unquote('"\\eb34"');
$evicon-setting-bold: unquote('"\\eb35"');
$evicon-setting-outline: unquote('"\\eb36"');
$evicon-task-square-bold: unquote('"\\eb37"');
$evicon-task-square-outline: unquote('"\\eb38"');
$evicon-text-block-outline: unquote('"\\eb39"');
$evicon-tick-square-outline: unquote('"\\eb3a"');
$evicon-timer-outline: unquote('"\\eb3b"');
$evicon-undo-outline: unquote('"\\eb3c"');
$evicon-upload-outline: unquote('"\\eb3d"');
$evicon-voice-square-outline: unquote('"\\eb3e"');
$evicon-stamp-outline: unquote('"\\eaff"');
$evicon-task-recurring: unquote('"\\eb00"');
$evicon-window: unquote('"\\eafd"');
$evicon-berry-logo: unquote('"\\eafe"');
$evicon-circle-cross: unquote('"\\eaf9"');
$evicon-doc-center: unquote('"\\eafa"');
$evicon-palette: unquote('"\\eafb"');
$evicon-plus-circle: unquote('"\\eafc"');
$evicon-annote-save: unquote('"\\eaf3"');
$evicon-card-square-employee: unquote('"\\eaf4"');
$evicon-envelope-front-edge: unquote('"\\eaf5"');
$evicon-paperclip-edge: unquote('"\\eaf6"');
$evicon-sign-pen: unquote('"\\eaf7"');
$evicon-tune: unquote('"\\eaf8"');
$evicon-file-generic-plus-outline: unquote('"\\eaf0"');
$evicon-file-generic-plus: unquote('"\\eaf1"');
$evicon-file-txt-outline: unquote('"\\eaf2"');
$evicon-link-plus: unquote('"\\eaee"');
$evicon-signature-rotated: unquote('"\\eaef"');
$evicon-face-id: unquote('"\\eaeb"');
$evicon-fingerprint: unquote('"\\eaed"');
$evicon-face-recognition: unquote('"\\eaea"');
$evicon-image-out: unquote('"\\eaec"');
$evicon-handshake-cross: unquote('"\\eae9"');
$evicon-back-left-filled: unquote('"\\eae7"');
$evicon-back-left-outline: unquote('"\\eae8"');
$evicon-certificate-2-stripped: unquote('"\\eae6"');
$evicon-text-align-center: unquote('"\\eae3"');
$evicon-text-align-right: unquote('"\\eae4"');
$evicon-text-align-left: unquote('"\\eae5"');
$evicon-additional-feature: unquote('"\\eae1"');
$evicon-annote: unquote('"\\eade"');
$evicon-chat-tick-double-2: unquote('"\\eadf"');
$evicon-ms-exchange: unquote('"\\eae0"');
$evicon-dashboard-complex: unquote('"\\eadd"');
$evicon-back-right: unquote('"\\e97e"');
$evicon-underline: unquote('"\\eada"');
$evicon-italic: unquote('"\\eadb"');
$evicon-bold: unquote('"\\eadc"');
$evicon-shirt-tie: unquote('"\\ead7"');
$evicon-person-three-sit-clock: unquote('"\\ead8"');
$evicon-calendar-clock: unquote('"\\ead9"');
$evicon-pie-chart-0: unquote('"\\eacc"');
$evicon-lock-2-open: unquote('"\\eacd"');
$evicon-lock-2: unquote('"\\eace"');
$evicon-pie-chart-1: unquote('"\\eacf"');
$evicon-pie-chart-2: unquote('"\\ead0"');
$evicon-pie-chart-3: unquote('"\\ead1"');
$evicon-pie-chart-4: unquote('"\\ead2"');
$evicon-pie-chart-5: unquote('"\\ead3"');
$evicon-pie-chart-6: unquote('"\\ead4"');
$evicon-pie-chart-7: unquote('"\\ead5"');
$evicon-pie-chart-8: unquote('"\\ead6"');
$evicon-outline-archive: unquote('"\\eabf"');
$evicon-outline-briefcase: unquote('"\\eac0"');
$evicon-outline-calendar: unquote('"\\eac1"');
$evicon-outline-checklist: unquote('"\\eac2"');
$evicon-outline-cog: unquote('"\\eac3"');
$evicon-outline-committee: unquote('"\\eac4"');
$evicon-outline-dashboard: unquote('"\\eac5"');
$evicon-outline-envelope-front: unquote('"\\eac6"');
$evicon-outline-eraser: unquote('"\\eac7"');
$evicon-outline-megaphone: unquote('"\\eac8"');
$evicon-outline-person-employee: unquote('"\\eac9"');
$evicon-outline-questionnaire: unquote('"\\eaca"');
$evicon-outline-vcard-two: unquote('"\\eacb"');
$evicon-outline-card-square: unquote('"\\eabd"');
$evicon-outline-filter-2: unquote('"\\eabe"');
$evicon-return-left: unquote('"\\eaba"');
$evicon-return-right: unquote('"\\eabb"');
$evicon-chain-cross: unquote('"\\eabc"');
$evicon-coffee-1: unquote('"\\eab7"');
$evicon-coffee-2: unquote('"\\eab8"');
$evicon-tag: unquote('"\\eab9"');
$evicon-checklist-plus: unquote('"\\eaa4"');
$evicon-file-format-bmp: unquote('"\\eaa5"');
$evicon-file-format-gif: unquote('"\\eaa6"');
$evicon-file-format-heic: unquote('"\\eaa7"');
$evicon-file-format-jpeg: unquote('"\\eaa8"');
$evicon-file-format-jpg: unquote('"\\eaa9"');
$evicon-file-format-png: unquote('"\\eaaa"');
$evicon-file-format-tif: unquote('"\\eaab"');
$evicon-file-format-tiff: unquote('"\\eaac"');
$evicon-file-format-webp: unquote('"\\eaad"');
$evicon-pencil-ruler-plus: unquote('"\\eaae"');
$evicon-thickness-1: unquote('"\\eaaf"');
$evicon-thickness-2: unquote('"\\eab0"');
$evicon-thickness-3: unquote('"\\eab1"');
$evicon-thickness-4: unquote('"\\eab2"');
$evicon-thickness-6: unquote('"\\eab3"');
$evicon-thickness-8: unquote('"\\eab4"');
$evicon-thickness-10: unquote('"\\eab5"');
$evicon-thickness-12: unquote('"\\eab6"');
$evicon-outline-mic: unquote('"\\ea94"');
$evicon-undo: unquote('"\\ea95"');
$evicon-redo: unquote('"\\ea96"');
$evicon-outline-undo: unquote('"\\ea97"');
$evicon-outline-trash: unquote('"\\ea98"');
$evicon-outline-signature: unquote('"\\ea99"');
$evicon-outline-redo: unquote('"\\ea9a"');
$evicon-outline-person-one-stand: unquote('"\\ea9b"');
$evicon-outline-layers-3: unquote('"\\ea9c"');
$evicon-outline-feather: unquote('"\\ea9d"');
$evicon-outline-crayon: unquote('"\\ea9e"');
$evicon-outline-certificate-2: unquote('"\\ea9f"');
$evicon-house-2: unquote('"\\eaa0"');
$evicon-fullscreen-exit-3: unquote('"\\eaa1"');
$evicon-fullscreen-3: unquote('"\\eaa2"');
$evicon-crayon: unquote('"\\eaa3"');
$evicon-certificate-2: unquote('"\\ea92"');
$evicon-question-circled: unquote('"\\ea93"');
$evicon-e: unquote('"\\ea90"');
$evicon-signature-save: unquote('"\\ea91"');
$evicon-file-broken: unquote('"\\ea8c"');
$evicon-file-cross: unquote('"\\ea8d"');
$evicon-plus-square-multiple: unquote('"\\ea8e"');
$evicon-plus-square: unquote('"\\ea8f"');
$evicon-calendar-recurring: unquote('"\\ea89"');
$evicon-file-generic-landscape: unquote('"\\ea8a"');
$evicon-person-three-sit-recurring: unquote('"\\ea8b"');
$evicon-calendar-edit: unquote('"\\ea85"');
$evicon-misc: unquote('"\\ea86"');
$evicon-restore-2: unquote('"\\ea87"');
$evicon-restore: unquote('"\\ea88"');
$evicon-plane-paper-employee-2: unquote('"\\ea81"');
$evicon-plane-paper-employee: unquote('"\\ea82"');
$evicon-plane-paper-person-2: unquote('"\\ea83"');
$evicon-plane-paper-person: unquote('"\\ea84"');
$evicon-fullscreen-2: unquote('"\\ea7c"');
$evicon-fullscreen-exit-2: unquote('"\\ea7d"');
$evicon-play-left-circle: unquote('"\\ea7e"');
$evicon-play-right-circle: unquote('"\\ea7f"');
$evicon-stop-circle: unquote('"\\ea80"');
$evicon-pin-2: unquote('"\\ea78"');
$evicon-pin-horizontal-2: unquote('"\\ea79"');
$evicon-pin-horizontal: unquote('"\\ea7a"');
$evicon-pin-slanted-2: unquote('"\\ea7b"');
$evicon-eye-glasses-check: unquote('"\\ea72"');
$evicon-eye-glasses-cross: unquote('"\\ea73"');
$evicon-eye-glasses: unquote('"\\ea74"');
$evicon-hourglass-3: unquote('"\\ea75"');
$evicon-pencil-2: unquote('"\\ea76"');
$evicon-trash-2: unquote('"\\ea77"');
$evicon-clock-edit: unquote('"\\ea70"');
$evicon-page-break: unquote('"\\ea71"');
$evicon-paper-write-plain: unquote('"\\ea6e"');
$evicon-paper-write: unquote('"\\ea6f"');
$evicon-monitor: unquote('"\\ea6c"');
$evicon-bookmark: unquote('"\\ea6d"');
$evicon-file-audio-loading: unquote('"\\ea5f"');
$evicon-file-email-loading: unquote('"\\ea60"');
$evicon-file-excel-loading: unquote('"\\ea61"');
$evicon-file-generic-loading: unquote('"\\ea62"');
$evicon-file-image-loading: unquote('"\\ea63"');
$evicon-file-pdf-loading: unquote('"\\ea64"');
$evicon-file-powerpoint-loading: unquote('"\\ea65"');
$evicon-file-txt-loading: unquote('"\\ea66"');
$evicon-file-video-loading: unquote('"\\ea67"');
$evicon-file-web-loading: unquote('"\\ea68"');
$evicon-file-word-loading: unquote('"\\ea69"');
$evicon-file-zip-loading: unquote('"\\ea6a"');
$evicon-hourglass-2: unquote('"\\ea6b"');
$evicon-briefcase: unquote('"\\ea58"');
$evicon-desk-lamp: unquote('"\\ea59"');
$evicon-id-card: unquote('"\\ea5a"');
$evicon-layers-3: unquote('"\\ea5b"');
$evicon-save-2: unquote('"\\ea5c"');
$evicon-sign-paper: unquote('"\\ea5d"');
$evicon-signature-2: unquote('"\\ea5e"');
$evicon-idea: unquote('"\\ea4c"');
$evicon-target: unquote('"\\ea4d"');
$evicon-globe-2: unquote('"\\ea4e"');
$evicon-line-graph: unquote('"\\ea4f"');
$evicon-pen-write: unquote('"\\ea50"');
$evicon-layers: unquote('"\\ea51"');
$evicon-sidebar-collapse: unquote('"\\ea52"');
$evicon-sidebar-open: unquote('"\\ea53"');
$evicon-pen-tablet: unquote('"\\ea54"');
$evicon-finish-3: unquote('"\\ea55"');
$evicon-archive-2: unquote('"\\ea56"');
$evicon-finish-2: unquote('"\\ea57"');
$evicon-chat-tick: unquote('"\\ea4a"');
$evicon-chat-tick-double: unquote('"\\ea4b"');
$evicon-square-thin: unquote('"\\ea48"');
$evicon-square-thin-double: unquote('"\\ea49"');
$evicon-camera: unquote('"\\ea45"');
$evicon-judge-hammer-2: unquote('"\\ea46"');
$evicon-video-camera: unquote('"\\ea47"');
$evicon-card-square-person: unquote('"\\ea42"');
$evicon-pie-chart: unquote('"\\ea43"');
$evicon-building-one: unquote('"\\ea44"');
$evicon-vote: unquote('"\\ea3f"');
$evicon-share-screen: unquote('"\\ea40"');
$evicon-person-two-question: unquote('"\\ea41"');
$evicon-person-one-stand: unquote('"\\ea3e"');
$evicon-stop: unquote('"\\ea36"');
$evicon-skip-right: unquote('"\\ea37"');
$evicon-skip-left: unquote('"\\ea38"');
$evicon-play-right: unquote('"\\ea39"');
$evicon-play-left: unquote('"\\ea3a"');
$evicon-person-two-discuss: unquote('"\\ea3b"');
$evicon-person-three-circle: unquote('"\\ea3c"');
$evicon-pause: unquote('"\\ea3d"');
$evicon-social: unquote('"\\ea35"');
$evicon-mic: unquote('"\\ea30"');
$evicon-plane-paper-2: unquote('"\\ea31"');
$evicon-cross-circle: unquote('"\\ea32"');
$evicon-cross-2: unquote('"\\ea33"');
$evicon-check-circle: unquote('"\\ea34"');
$evicon-sort-a-z: unquote('"\\ea22"');
$evicon-sort-z-a: unquote('"\\ea23"');
$evicon-sort-ya-alef: unquote('"\\ea24"');
$evicon-sort-priority: unquote('"\\ea25"');
$evicon-sort-one-nine: unquote('"\\ea26"');
$evicon-sort-old-new: unquote('"\\ea27"');
$evicon-sort-nine-one: unquote('"\\ea28"');
$evicon-sort-new-old: unquote('"\\ea29"');
$evicon-sort-magic: unquote('"\\ea2a"');
$evicon-sort-alef-ya: unquote('"\\ea2b"');
$evicon-ipad: unquote('"\\ea2c"');
$evicon-ipad-arrow: unquote('"\\ea2d"');
$evicon-cloud: unquote('"\\ea2e"');
$evicon-cloud-cross: unquote('"\\ea2f"');
$evicon-filter-2-cross: unquote('"\\ea20"');
$evicon-filter-2: unquote('"\\ea21"');
$evicon-card-square-tick: unquote('"\\ea1f"');
$evicon-envelope-exchange: unquote('"\\ea1e"');
$evicon-envelope-front-cross: unquote('"\\ea1c"');
$evicon-refresh: unquote('"\\ea1d"');
$evicon-bell-2: unquote('"\\ea1b"');
$evicon-file-employee: unquote('"\\ea19"');
$evicon-file-open-tip: unquote('"\\ea1a"');
$evicon-file-pen: unquote('"\\e931"');
$evicon-dragger-2: unquote('"\\e980"');
$evicon-double-chevron-up: unquote('"\\e98c"');
$evicon-chevron-2-up: unquote('"\\e991"');
$evicon-chevron-2-right: unquote('"\\e992"');
$evicon-chevron-2-left: unquote('"\\ea0d"');
$evicon-double-chevron-right: unquote('"\\ea0e"');
$evicon-double-chevron-left: unquote('"\\ea0f"');
$evicon-double-chevron-down: unquote('"\\ea10"');
$evicon-nothingness: unquote('"\\ea11"');
$evicon-chevron-2-down: unquote('"\\ea12"');
$evicon-dragger: unquote('"\\ea0b"');
$evicon-branch-side: unquote('"\\ea0c"');
$evicon-arrow-bottom-right: unquote('"\\ea07"');
$evicon-arrow-bottom-left: unquote('"\\ea08"');
$evicon-arrow-top-right: unquote('"\\ea09"');
$evicon-arrow-top-left: unquote('"\\ea0a"');
$evicon-document-forward: unquote('"\\ea03"');
$evicon-file-check1: unquote('"\\ea04"');
$evicon-document-hold: unquote('"\\ea05"');
$evicon-correspondence-internal-special: unquote('"\\ea06"');
$evicon-eraser: unquote('"\\ea02"');
$evicon-branch-2: unquote('"\\ea01"');
$evicon-megaphone-2: unquote('"\\ea13"');
$evicon-finish: unquote('"\\e9ff"');
$evicon-reprocess: unquote('"\\ea00"');
$evicon-file-check: unquote('"\\e9fe"');
$evicon-papers: unquote('"\\e9fd"');
$evicon-magnifying-glass-check: unquote('"\\e9f9"');
$evicon-magnifying-glass-eye: unquote('"\\e9fa"');
$evicon-judge-hammer: unquote('"\\e9f6"');
$evicon-book-libra: unquote('"\\e9f7"');
$evicon-binocular: unquote('"\\e9f8"');
$evicon-shield-exclamation: unquote('"\\e9fb"');
$evicon-woman: unquote('"\\e9fc"');
$evicon-plane-paper-attachment: unquote('"\\e9f5"');
$evicon-arrows: unquote('"\\e9e1"');
$evicon-copy: unquote('"\\e9e2"');
$evicon-devices: unquote('"\\e9e3"');
$evicon-flip-to-back: unquote('"\\e9e4"');
$evicon-flip: unquote('"\\e9e5"');
$evicon-fullscreen-exit: unquote('"\\e9e6"');
$evicon-fullscreen: unquote('"\\e9e7"');
$evicon-google-earth: unquote('"\\e9e8"');
$evicon-link: unquote('"\\e9e9"');
$evicon-lock-lock: unquote('"\\e9ea"');
$evicon-lock-open: unquote('"\\e9eb"');
$evicon-minus-circle: unquote('"\\e9ec"');
$evicon-mood: unquote('"\\e9ed"');
$evicon-rotate-right: unquote('"\\e9ee"');
$evicon-sign-in: unquote('"\\e9ef"');
$evicon-sort-amount-asc: unquote('"\\e9f0"');
$evicon-swap-vertical: unquote('"\\e9f1"');
$evicon-swap: unquote('"\\e9f2"');
$evicon-zoom-in: unquote('"\\e9f3"');
$evicon-zoom-out: unquote('"\\e9f4"');
$evicon-deadline-auto: unquote('"\\e9df"');
$evicon-deadline: unquote('"\\e9e0"');
$evicon-bell-z: unquote('"\\e9dc"');
$evicon-correspondence-decision: unquote('"\\e9dd"');
$evicon-hd: unquote('"\\e9de"');
$evicon-graph-bar: unquote('"\\e9d9"');
$evicon-graph: unquote('"\\e9da"');
$evicon-exclamation-triangle: unquote('"\\e9db"');
$evicon-checkbox-active: unquote('"\\e9d2"');
$evicon-checkbox-inactive: unquote('"\\e9d3"');
$evicon-circle-check: unquote('"\\e9d4"');
$evicon-delegate: unquote('"\\e9d5"');
$evicon-key: unquote('"\\e9d6"');
$evicon-radio-active: unquote('"\\e9d7"');
$evicon-radio-inactive: unquote('"\\e9d8"');
$evicon-twinbell-alert: unquote('"\\e9d0"');
$evicon-twinbell: unquote('"\\e9d1"');
$evicon-committee: unquote('"\\e9ce"');
$evicon-office-box: unquote('"\\e9cf"');
$evicon-abbyy-fr: unquote('"\\e9cb"');
$evicon-lang: unquote('"\\e9cc"');
$evicon-accept: unquote('"\\e9cd"');
$evicon-pop-up: unquote('"\\e9c5"');
$evicon-pencil-ruler: unquote('"\\e9c6"');
$evicon-eye-stripped: unquote('"\\e9c7"');
$evicon-envelope-out: unquote('"\\e9c8"');
$evicon-envelope-in: unquote('"\\e9c9"');
$evicon-crop: unquote('"\\e9ca"');
$evicon-door: unquote('"\\e9c4"');
$evicon-archive: unquote('"\\e9b3"');
$evicon-branch: unquote('"\\e9b4"');
$evicon-file-audio: unquote('"\\e9b5"');
$evicon-file-email: unquote('"\\e9b6"');
$evicon-file-excel: unquote('"\\e9b7"');
$evicon-file-generic: unquote('"\\e9b8"');
$evicon-file-image: unquote('"\\e9b9"');
$evicon-file-pdf: unquote('"\\e9ba"');
$evicon-file-powerpoint: unquote('"\\e9bb"');
$evicon-file-txt: unquote('"\\e9bc"');
$evicon-file-video: unquote('"\\e9bd"');
$evicon-file-web: unquote('"\\e9be"');
$evicon-file-word: unquote('"\\e9bf"');
$evicon-file-zip: unquote('"\\e9c0"');
$evicon-revert: unquote('"\\e9c1"');
$evicon-signature-check: unquote('"\\e9c2"');
$evicon-signature: unquote('"\\e9c3"');
$evicon-sort: unquote('"\\e9b1"');
$evicon-person-desk: unquote('"\\e9b2"');
$evicon-card-chain: unquote('"\\e9ab"');
$evicon-connect: unquote('"\\e9ac"');
$evicon-envelope-chain: unquote('"\\e9ad"');
$evicon-i-stripped: unquote('"\\e9ae"');
$evicon-i: unquote('"\\e9af"');
$evicon-paperclip: unquote('"\\e9b0"');
$evicon-clock-2: unquote('"\\e9aa"');
$evicon-bell-stripped: unquote('"\\e99e"');
$evicon-database: unquote('"\\e99f"');
$evicon-download-2: unquote('"\\e9a0"');
$evicon-folder-plus: unquote('"\\e9a1"');
$evicon-handshake: unquote('"\\e9a2"');
$evicon-lamp: unquote('"\\e9a3"');
$evicon-person-employee-two: unquote('"\\e9a4"');
$evicon-person-three-sit-plus: unquote('"\\e9a5"');
$evicon-plane-paper-stripped: unquote('"\\e9a6"');
$evicon-search-cog: unquote('"\\e9a7"');
$evicon-star-stripped: unquote('"\\e9a8"');
$evicon-vcard-plus: unquote('"\\e9a9"');
$evicon-box-draft: unquote('"\\e994"');
$evicon-box-outbox: unquote('"\\e995"');
$evicon-crown: unquote('"\\e996"');
$evicon-exclamation-circled: unquote('"\\e997"');
$evicon-flag: unquote('"\\e998"');
$evicon-folder-options: unquote('"\\e999"');
$evicon-grid: unquote('"\\e99a"');
$evicon-late: unquote('"\\e99b"');
$evicon-star-empty: unquote('"\\e99c"');
$evicon-star-filled: unquote('"\\e99d"');
$evicon-forward: unquote('"\\ea14"');
$evicon-reply: unquote('"\\ea15"');
$evicon-card-square: unquote('"\\ea16"');
$evicon-save: unquote('"\\ea17"');
$evicon-building-gov: unquote('"\\e97f"');
$evicon-chain: unquote('"\\e981"');
$evicon-correspondence-incoming-special: unquote('"\\e982"');
$evicon-correspondence-incoming: unquote('"\\e983"');
$evicon-correspondence-internal: unquote('"\\e984"');
$evicon-correspondence-outgoing-special: unquote('"\\e985"');
$evicon-correspondence-outgoing: unquote('"\\e986"');
$evicon-embassy: unquote('"\\e987"');
$evicon-eye-cc: unquote('"\\e988"');
$evicon-eye-check: unquote('"\\e989"');
$evicon-eye: unquote('"\\e98a"');
$evicon-forward-head: unquote('"\\e98b"');
$evicon-lightning: unquote('"\\e98d"');
$evicon-merge: unquote('"\\e98e"');
$evicon-print: unquote('"\\e98f"');
$evicon-qr: unquote('"\\e990"');
$evicon-utensil: unquote('"\\e993"');
$evicon-bed-double: unquote('"\\e94e"');
$evicon-bed: unquote('"\\e94f"');
$evicon-box: unquote('"\\e950"');
$evicon-building-duo: unquote('"\\e951"');
$evicon-building-trio: unquote('"\\e952"');
$evicon-calendar-add: unquote('"\\e953"');
$evicon-car-normal: unquote('"\\e954"');
$evicon-car-royal: unquote('"\\e955"');
$evicon-car-side: unquote('"\\e956"');
$evicon-cog: unquote('"\\e957"');
$evicon-dashboard: unquote('"\\e958"');
$evicon-diagram: unquote('"\\e959"');
$evicon-folder: unquote('"\\e95a"');
$evicon-h: unquote('"\\e95b"');
$evicon-hierarchy: unquote('"\\e95c"');
$evicon-history: unquote('"\\e95d"');
$evicon-hourglass: unquote('"\\e95e"');
$evicon-house-big: unquote('"\\e95f"');
$evicon-house-small: unquote('"\\e960"');
$evicon-i-circle: unquote('"\\e961"');
$evicon-inspect: unquote('"\\e962"');
$evicon-lock: unquote('"\\e963"');
$evicon-megaphone: unquote('"\\e964"');
$evicon-envelope-plus: unquote('"\\e965"');
$evicon-minus: unquote('"\\e966"');
$evicon-money: unquote('"\\e967"');
$evicon-notes: unquote('"\\e968"');
$evicon-passport: unquote('"\\e969"');
$evicon-person-admin: unquote('"\\e96a"');
$evicon-person-employee: unquote('"\\e96b"');
$evicon-person-gov: unquote('"\\e96c"');
$evicon-person-org: unquote('"\\e96d"');
$evicon-pistol: unquote('"\\e96e"');
$evicon-plane-bottom-right: unquote('"\\e96f"');
$evicon-plane-left: unquote('"\\e970"');
$evicon-plane-right: unquote('"\\e971"');
$evicon-plane-top-left: unquote('"\\e972"');
$evicon-question: unquote('"\\e973"');
$evicon-scanner: unquote('"\\e974"');
$evicon-ship: unquote('"\\e975"');
$evicon-signal: unquote('"\\e976"');
$evicon-sit: unquote('"\\e977"');
$evicon-stamp: unquote('"\\e978"');
$evicon-suitcase: unquote('"\\e979"');
$evicon-sync: unquote('"\\e97a"');
$evicon-timer: unquote('"\\e97b"');
$evicon-train: unquote('"\\e97c"');
$evicon-triangle-up: unquote('"\\e97d"');
$evicon-write: unquote('"\\eae2"');
$evicon-checklist: unquote('"\\ea18"');
$evicon-pencil: unquote('"\\e94d"');
$evicon-list-plus: unquote('"\\e900"');
$evicon-list-reorder: unquote('"\\e901"');
$evicon-list: unquote('"\\e902"');
$evicon-location: unquote('"\\e903"');
$evicon-mobile-phone: unquote('"\\e904"');
$evicon-open-tip: unquote('"\\e905"');
$evicon-open: unquote('"\\e906"');
$evicon-person-check: unquote('"\\e907"');
$evicon-person-plus: unquote('"\\e908"');
$evicon-person-three-plus: unquote('"\\e909"');
$evicon-person-three-sit: unquote('"\\e90a"');
$evicon-person-three-stand: unquote('"\\e90b"');
$evicon-person-three: unquote('"\\e90c"');
$evicon-person-two: unquote('"\\e90d"');
$evicon-person: unquote('"\\e90e"');
$evicon-phone: unquote('"\\e90f"');
$evicon-pin-slanted: unquote('"\\e910"');
$evicon-pin: unquote('"\\e911"');
$evicon-plane-top-right: unquote('"\\e912"');
$evicon-plane-bottom-left: unquote('"\\e913"');
$evicon-plane-paper: unquote('"\\e914"');
$evicon-plus: unquote('"\\e915"');
$evicon-present-box: unquote('"\\e916"');
$evicon-questionnaire: unquote('"\\e917"');
$evicon-search: unquote('"\\e918"');
$evicon-sms: unquote('"\\e919"');
$evicon-template: unquote('"\\e91a"');
$evicon-trash: unquote('"\\e91b"');
$evicon-tree-collapse: unquote('"\\e91c"');
$evicon-tree-expand: unquote('"\\e91d"');
$evicon-triangle-down: unquote('"\\e91e"');
$evicon-triangle-left: unquote('"\\e91f"');
$evicon-triangle-right: unquote('"\\e920"');
$evicon-uncheck-all: unquote('"\\e921"');
$evicon-upload: unquote('"\\e922"');
$evicon-vcard-two: unquote('"\\e923"');
$evicon-vcard: unquote('"\\e924"');
$evicon-car-cheap: unquote('"\\e925"');
$evicon-web: unquote('"\\e926"');
$evicon-banquete: unquote('"\\e927"');
$evicon-bell: unquote('"\\e928"');
$evicon-board: unquote('"\\e929"');
$evicon-booklet: unquote('"\\e92a"');
$evicon-calendar: unquote('"\\e92b"');
$evicon-cards: unquote('"\\e92c"');
$evicon-certificate: unquote('"\\e92d"');
$evicon-chat: unquote('"\\e92e"');
$evicon-check-all: unquote('"\\e92f"');
$evicon-check: unquote('"\\e930"');
$evicon-chevron-down: unquote('"\\e932"');
$evicon-chevron-left: unquote('"\\e933"');
$evicon-chevron-right: unquote('"\\e934"');
$evicon-chevron-up: unquote('"\\e935"');
$evicon-circle-chevron-down: unquote('"\\e936"');
$evicon-circle: unquote('"\\e937"');
$evicon-clock: unquote('"\\e938"');
$evicon-columns-reset: unquote('"\\e939"');
$evicon-columns: unquote('"\\e93a"');
$evicon-cross: unquote('"\\e93b"');
$evicon-dots: unquote('"\\e93c"');
$evicon-download: unquote('"\\e93d"');
$evicon-email: unquote('"\\e93e"');
$evicon-envelope-back: unquote('"\\e93f"');
$evicon-envelope-front: unquote('"\\e940"');
$evicon-envelope-opened: unquote('"\\e941"');
$evicon-exclamation: unquote('"\\e942"');
$evicon-export: unquote('"\\e943"');
$evicon-faqs: unquote('"\\e944"');
$evicon-filter-cross: unquote('"\\e945"');
$evicon-filter: unquote('"\\e946"');
$evicon-globe: unquote('"\\e947"');
$evicon-hamburger: unquote('"\\e948"');
$evicon-hand: unquote('"\\e949"');
$evicon-import: unquote('"\\e94a"');
$evicon-language-ar: unquote('"\\e94b"');
$evicon-language-en: unquote('"\\e94c"');

